.container {
    display: flex;                       /* establish flex container */
    flex-wrap: wrap;                     /* enable flex items to wrap */
    justify-content: space-around;
    

  }
  .maindiv{
    border:2px solid black;
    margin:20px 20px 20px 20px;
  }
  .cell {
    flex: 0 0 33%;                       /* don't grow, don't shrink, width */
    height: 50px;
    margin-bottom: 5px;
    background-color: #ffe6e6;

  }

  