<app-navbar></app-navbar>
<div class="container" id = "mainbody">
    <div class="jumbotron" style = "text-align: center;">
        <div class="card">
            <div class="container">
              <h4><span class="glyphicon glyphicon-user"></span><b><span class="label label-danger">RISHIKA</span></b></h4>
              <hr>
              <ul class="list-group">
                  <li class="list-group-item">New <span class="badge"><span style = "margin-right: 3px;"class="glyphicon glyphicon-envelope"></span> Email</span></li>
                  <li class="list-group-item">Deleted <span class="badge"><span style = "margin-right: 3px;" class="glyphicon glyphicon-earphone"></span>phone</span></li> 
                  <li class="list-group-item">Warnings <span class="badge"><span style = "margin-right:3px;"><i class='fas fa-wallet'></i></span>Wallet</span></li>
                  <div class="panel-group">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse1"><span style = "margin-right: 5px;"><i class='far fa-address-card'></i></span>Addresses</a>
                          </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse">
                          <ul class="list-group">
                            <li class="list-group-item">One</li>
                            <li class="list-group-item">Two</li>
                            <li class="list-group-item">Three</li>
                          </ul>
                          <div class="panel-footer"><a><span class="label label-primary">Add Addresses</span></a></div>
                        </div>
                      </div>
                    </div> 
                </ul>
            </div>
          </div>
    </div>
  </div>