<div class = "container-fluid">
  <div class = "row">
    <div class = "col-md-3">
    </div>
    <div class = "col-md-6">
      <div class = "row" style = "margin-left: 25%">
        <br>
        <br>
        <span style="font-size: 25px">Name: </span>
        &nbsp;<span>User's name</span>
        <br>
        <br>
        <span style="font-size: 25px">Email: </span>
        &nbsp;<span>User's email</span>
        <br>
        <br>
        <span style="font-size: 25px">Mobile Number: </span>
        &nbsp;<span>User's ph</span>
        <br>
        <br>
        <span style="font-size: 25px">Address: </span>
        &nbsp;<span>User's address</span>
        <br>
        <br>
        <span style="font-size: 25px">Amount in wallet: </span>
        &nbsp;<span>User's amount</span>
        <br>
        <br>
      </div>
    </div>
    <div class = "col-md-3">

    </div>
  </div>
</div>
